<%- include('layout/header');%>
<div class="container">
  <h2>User Management</h2><span><a href="/addUser">Add User</a></span>
    <% if (msgType=='success') { %>
        <div class="alert alert-success">
          <strong>Success!</strong> <%= msg %>.
        </div>
    <% } %>
     <% if (msgType=='error') { %>
        <div class="alert alert-danger">
          <strong>Danger!</strong> <%= msg %>.
        </div>
    <% } %>
    
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% resultSet.forEach(function(result){ %>
      <tr>
        <td><%= result.name %></td>
        <td><%= result.email %></td>
        <td><%= result.phone_no %></td>
        <td><%= result.address %></td>
        <td><a href="/editUser/<%= result.id %>">Edit</a> | <a onClick="return confirm('Are you sure ?')" href="/deleteUser/<%= result.id %>">Delete</a></td>
      </tr>
      <% });%>
    </tbody>
  </table>
</div>
<%- include('layout/footer');%>
